@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap'); 

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eceff4;
  font-family: Poppins, Arial, sans-serif;
}

h2 {
  margin-top: 30px;
}

.description {
  max-width: 300px;
  margin: 0 auto;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

#carta-gerada {
  margin-top: 20px;
}

#carta-texto {
  margin-top: 30px;
  background: none;
  border: 2px solid black;
  border-radius: 4px;
  text-align: center;
  padding: 5px 20px;
}

#carta-gerada:hover {
  cursor: pointer;
}

h1 {
  margin-top: 40px;
}

#criar-carta {
  margin-top: 30px;
  padding: 5px 20px;
  background: none;
  border: 1px solid black;
  border-radius: 4px;
}

#criar-carta:hover {
  cursor: pointer;
  background-color: #05fdd8;
  transition: 1s;
}

#criar-carta:not( :hover ) {
  background-color: #eceff4;
  transition: 1s;
}

/*  Classes do projeto  */
.newspaper {
  background-color: antiquewhite;
  font-family: Times New Roman, sans-serif;
  font-weight: 700;
}

.magazine1 {
  background-color: teal;
  color: white;
  font-family: Verdana, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.magazine2 {
  background-image: url('images/pink-pattern.png');
  color: fuchsia;
  font-family: Verdana, sans-serif;
  font-weight: 900;
}

.medium {
  font-size: 20px;
  padding: 8px;
}

.big {
  font-size: 30px;
  padding: 10px;
}

.reallybig {
  font-size: 40px;
  padding: 15px;
}

.rotateleft {
  transform: rotate(-5deg);
}

.rotateright {
  transform: rotate(5deg);
}

.skewleft {
  transform: skewX(10deg);
}

.skewright {
  transform: skewX(-10deg);
}
