* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  padding: 24px 0;
}

main {
  min-height: 75vh;
  width: max-content;
  margin: 24px auto;
}

#carta-gerada {
  margin-top: 48px;
}

#carta-gerada > span {
  margin-right: 10px;
}

#carta-gerada > span:last-child {
  margin-right: 0;
}

.newspaper {
  background-color: antiquewhite;
  font-family: 'Times New Roman';
  font-weight: 700;
}

footer {
  text-align: center;
}
